In [1]:
import joblib
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
dataset_reviews = pd.read_csv("../data/raw/dataset_reviews.csv")

In [3]:
dataset = dataset_reviews[["rating", "reviewContent"]].copy()

In [4]:
dataset.head()

   rating                     reviewContent
0       5   bagus  mantap dah sesui pesanan
1       4                Bagus, sesuai foto
2       5  okkkkk mantaaaaaaapppp ... goood
3       4                      bagus sesuai
4       5                               NaN

In [5]:
dataset.dropna(inplace = True)

In [6]:
dataset.isnull().sum()

rating           0
reviewContent    0
dtype: int64

In [7]:
x_train, x_test, y_train, y_test = train_test_split(dataset["reviewContent"], dataset["rating"], test_size = 0.8)

In [8]:
x_train.to_pickle("../data/interim/x_train_1.pkl")
x_test.to_pickle("../data/interim/x_test_1.pkl")

In [9]:
vectorizer = TfidfVectorizer()

In [10]:
x_train_vec = vectorizer.fit_transform(x_train)
x_test_vec = vectorizer.transform(x_test)

In [11]:
joblib.dump(vectorizer, "../models/vectorizer_1.pkl")

['../models/vectorizer_1.pkl']

In [12]:
joblib.dump(x_train_vec, "../data/processed/x_train_vec_1.pkl")
joblib.dump(x_test_vec, "../data/processed/x_test_vec_1.pkl")
y_train.to_pickle("../data/processed/y_train_1.pkl")
y_test.to_pickle("../data/processed/y_test_1.pkl")